.green {
    color: rgb(11, 28, 11)
}

html {
    background-color: rgb(212, 144, 231);
}

/*** body ***/
body {
background-color: rgb(212, 144, 231);

font-size: 16px;
color: rgb(243, 247, 243);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

margin: 40px;
padding: 15px;
}

/***text***/
h1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: -3px;
}

h2 {
    font-size: 30px;
    padding: 5px;
    
}

h3 {
    padding: 2px;
    font-size: 22px;
    margin-top:2px;
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    font-style: inherit;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(27, 79, 45);  
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 35px;
    font-size: large;
}

img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

ul{
    list-style: circle;
}

/***modify buttons ***/
button {
    background-color:rgb(166, 54, 178);
    color:var(--accent-color-light);
    font-size:15px ;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-content: center;
    width: 300px; 
}

button:hover {
    /* Make the button look different when the user hovers over it */
    color: rgb(246, 250, 248);
    background-color: rgb(71, 145, 98) ;
}

/***header***/
.header-container {
    text-align: center;
    background-color: rgb(197, 124, 217);
    margin: 15px;
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-item:nth-of-type(2) {
    width: 50px;
}

#header-img {
    width: 175px;
    max-width: 200px; 
    padding-top: 20px;
    border-radius: 100px;
    margin-left:0%;
    margin-right: 0%;
    justify-content: center; /* Centers items horizontally along the main axis */
 
}

.header-button{
    height: 60px;
    cursor: pointer;
    font-size: larger;
    text-align: center;
    justify-content: center;
    width: 200px;
}

/***footer***/
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(20, 1, 20);
    color: rgb(249, 245, 245);
    text-align: left;
    padding: 15px;
    font-style: normal;
    font-size:small; 
}

/***navbar***/
.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #611156be;
    margin-top:0px;
    padding: 3px;
}

.navbar ul li {
    float: left;
    margin: 10px;
    margin-left: 20px;  
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding-left: 5px;
    text-align: left;
    
}

.navbar ul li a:hover {
    text-decoration:overline;  
}

/***Links***/
a:link {
    color: #d6f8e5;
    text-decoration: double;
}

a:visited {
    color: rgb(189, 248, 177); 
}

a:hover {
    color:#35e2a9;
}

a:active {
    color: blue;
}

:root{
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;
    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;
}
